{% extends 'base.html.twig' %}

{% block title 'Mixtour' %}

{% block body %}
    <div class="jumbotron">Liste Tournois</div>


    <ul>
    {% for tournament in tournaments %}
        <li>{{ tournament.name }}<a class="nav-link" href="{{ path('tournamentEdit', {'tournament' : tournament.id}) }}">Modifier</a>

            {% if app.user in tournament.users %}

                <a class="nav-link" href="{{ path('tournamentUnregistration', {'tournament' : tournament.id, 'user' : app.user.id}) }}">Se désinscrire</a>
                
            {% else %}

                <a class="nav-link" href="{{ path('tournamentRegistration', {'tournament' : tournament.id, 'user' : app.user.id}) }}">S'inscrire</a>

            {% endif %}

        </li>
    {% endfor %}
    </ul>
    <a class="nav-link" href="{{ path('tournamentNew') }}">Créer un tournoi</a>
{% endblock %}