<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mixtour{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Mixtour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Ouvrir le menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tournaments') }}">Tournois</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mesMatchs') }}">Mes Matchs</a>
                </li>
            {% endif %}

        </ul>
        {% if app.user %}
            <a href="{{ path('security_logout') }}">
                <button class="btn btn-outline-danger my-2 my-sm-0">Déconnexion</button>
            </a>
        {% else %}
            <a href="{{ path('security_login') }}">
                <button class="btn btn-outline-success my-2 my-sm-0">Se connecter</button>
            </a>
        {% endif %}
    </div>
</nav>
{% for flashMessage in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ flashMessage }}
        <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ flashMessage }}
        <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
{% endfor %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!--script src="/build/app.js"></script-->

</body>
</html>
